.get-started-section {
  width: 100%;
  margin: 45px 0;
}
.form-title {
  font-size: 18px;
  text-align: center;
}
.get-started-form {
  margin-top: 16px;
  width: 50%;
  gap: 10px;
  position: relative;
}
.input-group {
  width: 70%;
}
.email-input {
  width: 100%;
  height: 60px;
  color: white;
  border: 3px solid var(--gray-color);
  background: transparent;
  font-size: 16px;
  padding: 15px 0 0px 15px;
  cursor: pointer;
}

label {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
  /* opacity: 0.3; */
  color: rgb(140, 143, 147);
  transition: all 300ms ease-in-out;
}

.email-input:focus + label {
  top: 15px;
  opacity: 1;
  font-size: 12px;
}
.get-started {
  height: 60px;
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
.form-title{}

.get-started-form {
pad: 20px;
width: 100%;
}

.get-started {
  height: 60px;
  font-size: 12px;
  font-weight: 200;
}

}