.primary-btn{
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--color-white) ;
    border: none;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    
}
.primary-btn:hover{
    opacity: 0.7;
}

.btn-outline{
    background-color: transparent !important;
    border: 2px solid white;

}