.sec-image img {
  width: 600px;
  /* height: 440px; */
}

.sec-title,
.sec-desc {
  color: white;
}
.sec-desc {
  font-size: 25px;
}
.border-t {
  border-bottom: 10px solid var(--hover-gray-color);
}


@media only screen and (max-width: 600px) {
  .sec-image img {
    width: 100%;
    
  }
  .wrap-sm{
    flex-wrap: wrap;
  }
}