*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root{
    --black-color:#000;
    --dark-bg:rgb(9%, 9%, 9%);
    --primary-color:rgb(96%, 2%, 7%);
    --gray-color:rgb(45%, 45%, 40%);
    --gray-bg:rgb(25%, 25%, 25%);
    --hover-gray-color:rgb(18%, 18%, 18%);
    --gradient-bg:linear-gradient(90deg,#333 5%,#181818 95%);
    --color-white:#fff;

}
/* body{
    background-color: var(--black-color)
} */



.navbar{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    /* background-color: var(--dark-bg); */
    align-items: center;
}
