.carousel-container{
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color:  transparent transparent;
  /* cursor:none; */
}

.carousel-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.carousel-container::-webkit-scrollbar-track {
  background: transparent;
}


.icon{
  padding: 20px;
  height: 100%;
  width: 30px;
  cursor: pointer;

}
.left-icon,.right-icon{
  background-color: var(--primary-color);
  height: 15px;
  width: 4px;
  position: relative;
  

}
.left-icon::after,.right-icon::after{
  content: '';
  width: 15px;
  height: 4px;
  background-color: inherit;
  position: absolute;


}

.left-icon{
  rotate: -45deg;
}
.right-icon{
  rotate: 135deg;
}



