.coming-soon-container{
    padding-right: 30px;
}

.movie-title {
    padding:20px 0;
    text-decoration: none;
    
}

.movie-decription{
    color: gray;
}


@media only screen and (max-width: 600px) {

.coming-soon-container{
    padding-left: 30px;

}
}